@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.header {
  display: flex;
  padding: 10px;
  
}

.left-links {
  display: flex;
  margin: 0 auto 0 -30px;
  gap: 10px;
  list-style-type: none;
  

}

.right-links {
  display: flex;
  margin: 0 0 0 auto ;
  gap: 10px;
  list-style-type: none;

}

a {
  text-decoration: none;
  color: gray;
  font-weight: bold;
}

* {
  border: red  ;
}

.content {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  
}

.footer {
  display: flex;
  background-color:#eee;
  padding: 10px;
  
}